.App {
  text-align: center;
  background: #bbdefb;
}
* {
  background: #bbdefb;
}
.secondLabel {
  margin-left: 50px;
}
input,
button {
  background-color: #fff;
  border: 1px solid #bdbdbd;
  margin: 3px;
  border-radius: 8px;
}
button {
  background-color: #fff;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.sub-btn {
  margin-left: 65px;
}
