@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

.wrap {
  width: 1100px;
}
.container {
  background-color: #fa320a;
  display: flex;
}
.container > img {
  width: 200px;
  padding: 25px 22px 25px;
}

.search {
  display: flex;
}
.search > input {
  height: 34px;
  width: 380px;
  border-radius: 20px;
  border: 1px solid#fff;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 30px;
  padding-left: 20px;
}
.search > a {
  padding: 10px 10px 15px 10px;
  display: flex;
  color: #fff;
}
.icon {
  width: 15px;
  margin-top: 30px;
  margin-left: 20px;
  position: absolute;
}

.search > input::placeholder {
  color: white;
  padding-left: 10px;
  font-size: 16px;
}
.topbtns {
  margin-left: 140px;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.topbtns > a {
  padding-right: 20px;
}
.botbtns {
  margin-left: 50px;
  padding-top: 35px;
  font-weight: 500;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
.botbtns > a {
  padding-right: 20px;
}

.botbtns > a:hover {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  margin-right: 5px;
  color: #000;
}

.outer {
  display: inline-block;
}
.trend {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 3px;
  justify-content: space-between;
}
.trendtitle {
  color: #ffe400;
  padding-left: 4px;
  font-size: 14px;
  letter-spacing: 0.055em;
  font-family: "Poppins" sans-serif;
}

.trendtxt {
  color: #fff;
  font-size: 14px;
  padding-left: 10px;
}
.out {
  display: flex;
}
.icons {
  display: flex;
  margin-right: 10px;
}
.icons > a {
  padding: 5px;
}
