.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  border-radius: 10px;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}
hr {
  width: 100%;
  background-color: #282c34;
}
.productno1, .productno2, .productno3, .productno4{
  display: flex;
  margin-bottom: 50px;
}
.rightside {
  padding-left: 20px;
  font-weight: 500;
}
.title {
  color: #296df5;
  text-align: start;
}
.submit {
  text-align: start;
  color: #ccc;
}
.submit-pic {
  width: 50px;
  margin-bottom: 0;
  margin-left: 20px;
}
.upvotecount{
  display: flex;
}
.count{
  line-height: 34px;
}
svg{
  color: #00587d;
}
.subsection{
  display: flex;
}

